
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size:18px;
}
body{
    font-family: 'Kumbh Sans',sans-serif;
    color:hsl(0,11%,12%);
}
img{
    border-radius: 20px 20px 0 0;
  
}
section
{
    background-color: hsl(185,75%,39%);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.card
{
    width:350px;
    background-color: white;
   border-radius: 20px;
   text-align: center;
   position: relative;
}

.card-header
{
     background-image: url(images/bg-pattern-card.svg);
    /* background-color: rgb(12, 95, 102); */
    background-size: cover;
    height:150px;
 

}
.card-header .head 
{
    position:absolute;
}

.card-body
{
    padding: 0 20px 20px;
}

.img-holder img
{
    border-radius: 50%;
    border:5px solid white;
   
    margin-top: -50px;
    margin-bottom: 30px;
}

.name-age
{
    font-size: 1.1rem;
    margin-bottom: 12px;
}
.age,.city,.meta{
    font-weight: 400;
    color:hsl(0,11%,12%);
    opacity: .5;
}
.age{
    margin-left: 6px;
}
.city{
    font-size: 1rem;
}
.card-footer
{
    border-top:1px solid hsl(0,3%,86%);
    display: flex;
    padding:0 25px;
}

.card-footer .item
{
    flex:1;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-footer .item .value
{
    font-size: 1rem;
    margin-bottom: 8px;
}
.card-footer .item .meta{
    font-size: .7rem;
    letter-spacing: 1px;
}

 .c1, .c2{
    position:absolute;
  
}
 .c1
{
    top:-600px;
    left:-300px;
}
 .c2
{
    bottom:-650px;
    right:-250px;
}
 @media only screen and (max-width: 600px) { 
  
    section{
        overflow-y: scroll;
    }
  .c1
{
    top:-650px;
    left:-550px;
}
 .c2
{
    bottom:-700px;
    right:-500px;
  
}
  }

